<!--Game Logo-->
<% @store_code -= 1 %>
<div class="store">
  <img src="https://www.cheapshark.com/img/stores/banners/<%= @store_code %>.png">
  <div>Deals</div>
</div>
  
<!--Game Deals-->
<% if @deals.count == 0 %>
  <div class="pages">No Deals Found</div>
<% else %>
  <% @deals.each do |game| %>
    <% dealrating = game[7].to_f %>
    <% if dealrating >= 9.0 %>
    <%  dealrank = "dealgold" %>
    <% elsif dealrating >= 8.0 %>
    <%  dealrank = "dealsilver" %>
    <% else %>
    <%  dealrank = "dealbronze" %>
    <% end %>

    <div class="<%= dealrank %>">

      <div class="titlecontainer">
        <div class="thumbnail"><img src=<%= game[8] %> ></div>
        <div class="title"><%= game[0] %></div>
      </div>
      
      <div class="data">
        
        <div class="bold">
          <div>Original Price:</div>
          <div>Sale Price:</div>
          <div>Discount:</div>
          <div>Deal Link:</div>
        </div>

        <div class="center">
            <div class="price">$<%= game[3] %></div>
            <div class="bold">$<%= game[2] %></div>
            <div><%= game[4] %>%</div>
            <div><a class="link" href="https://www.cheapshark.com/redirect?dealID=<%= game[9] %>" target="_blank">Get Deal</a></div>
        </div>
        
        <div class="gap"></div>

        <div class="bold">
          <div>Deal Rating:</div>
          <div>Steam Rating:</div>
          <div>Metacritic Rating:</div>
          <div>Metacritic Link:</div>
        </div>

        <div class="center">
          <div class="bold"><%= game[7] %></div>
          <div><%= game[6] %>%</div>
          <div><%= game[5] %>%</div>
          <div><a class="link" href="https://www.metacritic.com<%= game[1] %>" target="_blank">metacritic.com</a></div>
        </div>

      </div>
    </div>
    <br>
  <% end %>

  <!--Previous & Next Page-->
  <% current_path = request.fullpath %>
  <% cutoff = current_path.index("&pagenumber=") %>
  <% current_path = current_path[0..cutoff + 11] %>

  <div class="pages">
    <% left_arrow = "<" %>
    <% right_arrow = ">" %>
    <% @pagenumber = @pagenumber.to_i %>
    <% previouspage = @pagenumber - 1 %>
    <% nextpage = @pagenumber + 1 %>
    
    <h3>
      <% if @pagenumber == 0 %>
        <%= left_arrow%> Previous
      <% else %>
        <a href="<%= current_path %><%= previouspage %>"><%= left_arrow %> Previous</a>
      <% end %>
      
      | Page <%= nextpage %> |

      <% if @deals.count == 60 %>
        <a href="<%= current_path %><%= nextpage %>">Next <%= right_arrow %></a>
      <% else %>
        Next <%= right_arrow%>
      <% end %>
    </h3>
  </div>
<% end %>
